<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello</h1>
    <form id="create-new-ticket" action="/tickets"  method="POST">
        <h2><center>Ticket Information</center></h2>
        <div><b>Seat:</b></div><br>
        

        <label>Price: 
            <input type="number" name="price" min="0" required>
        </label>

        <div><b>Flight:</b></div><br>
    <button type="submit">Click to Create Ticket</button>
    </form>
</body>
</html>