<!DOCTYPE html>
<html>
  <head>
    <title>Initial</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <header><h1 class="index">Welcome to Express Airlines</h1>
    <div class="index"><img class="airplane"src="https://thumbs.dreamstime.com/b/airplane-plane-takeoff-passenger-plane-airlines-airport-travel-transport-business-economy-class-symbol-icon-vector-68633735.jpg"></div>
  </header><br>

    <body>
    <h2 class="index">Please select from the following options: </h2>
    <div class="index-options"><br><a  href="/flights"> View All flights</a><br>
    <br>
    <a  href="/flights/new"> Create a New flight</a><div>
  </body>
  <footer>
    
  </footer>
</html>
